{% load static component_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}ESFE{% endblock %}</title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'public/css/main.css' %}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>


    {% block extra_head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col bg-gray-50 text-gray-800 antialiased">

    {# ================= NAVBAR ================= #}
    {% component "navbar" %}
    {% endcomponent %}

    {# ================= MAIN ================= #}
    <main class="flex-grow">
        <div class="max-w-7xl mx-auto px-6 py-12">
            {% block content %}{% endblock %}
        </div>
    </main>

    {# ================= FOOTER ================= #}
    {% component "footer" %}
    {% endcomponent %}

    {% block extra_js %}{% endblock %}

</body>
</html>
